name: Publish Nuget Package

on:
  push:
    tags:
      - v*

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup .Net SDK
        uses: actions/setup-dotnet@v2
        with:
          dotnet-version: 7.x
          include-prerelease: false

      - name: Build
        run: dotnet build -c Release

      - name: Make Nuget Packages
        run: dotnet pack -c Release

      - name: Publish To Nuget
        run: dotnet nuget push bin/*.nupkg -k $NUGET_AUTH_TOKEN -s https://nuget.nefarius.at/v3/index.json
        env:
          NUGET_AUTH_TOKEN: ${{ secrets.NUGET_API_KEY }}
